extends layout
block body
	.row
		.jumbotron
			form.bs-example.form-horizontal(method='POST', action='')
				h1 Item Information : 
				br
				br

				p Account ID : #{user}
				label 
				p Address :  
					input(type="text", name="address" value="#{address}")
				label 
				p Contact Number :  
					input(type="text", name="contact" value="#{contact}")
				label 
				p Name :  
					input(type="text", name="name" value="#{first_name} #{last_name}")
				br
				br
				button.btn.btn-primary(type='submit' onClick='top.location.href="/edit_account"') Submit item