extends layout

block body

  .dashboard
    .row
      .col-lg-12
        .jumbotron
          form.bs-example.form-horizontal(method='GET', action='')
          h1 Account Information : 
          br
          br
          p Account ID : #{user}
          p Address : #{address}
          p Contact Number : #{contact}
          p Name : #{first_name} #{last_name}
          br
          br
          button.btn.btn-primary(type='submit' onClick='top.location.href="/edit_account"') Edit